/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    //  flavor = "tap-preferred";
    // tapping_term_ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
      &kp Q   &kp W   &kp E   &kp R     &kp T    &kp Y   &kp U     &kp I    &kp O         &kp P
      &kp A   &kp S   &kp D   &kp F     &kp G    &kp H   &kp J     &kp K    &kp L      &kp QUOT
 &mt LSFT Z   &kp X   &kp C   &kp V     &kp B    &kp N   &kp M  &kp CMMA  &kp DOT  &mt LSFT RET
                              &mo 1  &kp LCTL  &kp SPC   &mo 2
            >;
        };
    };
};
