/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    //  flavor = "tap-preferred";
    // tapping_term_ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
          &kp Q      &kp W       &kp E   &kp R   &kp T                   &kp Y   &kp U    &kp I      &kp O      &kp P
          &kp A      &kp S       &kp D   &kp F   &kp G                   &kp H   &kp J    &kp K      &kp L  &kp ENTER
          &kp Z      &kp X       &kp C   &kp V   &kp B                   &kp N   &kp M  &kp DOT  &kp COLON  &kp SLASH
 &kp LEFT_SHIFT  &kp SPACE  &kp DELETE   &mo 1
            >;
        };

        Layer__1 {
            bindings = <
 &trans  &trans  &trans  &trans  &trans                     &trans  &kp KP_N7  &kp KP_N8  &kp KP_NUMBER_9  &trans
 &trans  &trans  &trans  &trans  &trans                     &trans  &kp KP_N4  &kp KP_N5        &kp KP_N6  &trans
 &trans  &trans  &trans  &trans  &trans                  &kp KP_N0  &kp KP_N1  &kp KP_N2        &kp KP_N3  &trans
  &mo 0  &trans  &trans  &trans
            >;
        };
    };
};
